ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f8f8a2; /*#fafad2;*/
  position: fixed;
  top: 20px;
  left: 50px;
  height: 100%;
  overflow: auto;
  font: bold 24px Arial, sans-serif;
  border-radius: 15px;
}

li a {
  display: block;
  color: #000;
  padding: 12px 8px 12px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #568;
  color: white;
}
	
/*.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: Gold;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: SteelBlue;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}
*/
/*.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  /*font-size: 28px; /* Increased text to enable scrolling */
/*  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/
